<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="text-align: center" id="izquierda">
        
    	<h2>Bienvenidos a Happy Pets</h2>
        <h4>Ingrese descripción de la clinica</h4>
    </div>
    <div class="col-sm-6" id="derecha">
    		<div class="col-sm-3"></div>
    		<div class="col-sm-6" style="text-align: center" id="login">
    			<h2><b>Iniciar Sesión</b></h2>
                <div class="DivInput">
                    <input class="input" type="text" name="usuario" placeholder="Ingrese usuario">
                </div>
                <div class="DivInput">
                    <input class="input" type="password" name="pass" placeholder="Ingrese contraseña">
                </div>
                <div class="DivBoton">
                    <input class="boton" type="button" name="ingresar" value="Ingresar" routerLink = "/inicio">
                </div>
                <div class="texto">
                    <div class="textoContrasena">
                        <a class="txt" routerLink ="/recuperarCuenta">
                            ¿Haz olvidado tu contraseña?
                        </a>

                    </div>
                    <div class="textoRegistrate">
                        <a class="txt" routerLink ="/registro"> 
                                    Registrate
                        </a>
                    </div>
                </div>
    		<div class="col-sm-3"></div> 			
    </div>
   </div>
</div>

