	<div class="menu-bar">
		<label> LOGO </label>
		<label class = "usuario">USUARIO</label>
		<a href="#" class="btn-menu">Menu <i class="icono fas fa-bars"></i> </a> 
		<ul class="menu">
			<li><a  (click)="mostrarMenu();" ><i class="icono izquierda fas fa-caret-right"></i> Propietario <i class="icono derecha fas fa-chevron-right"></i></a>
				<ul>
					<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Creación</a></li>
					<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Busqueda</a></li>
				</ul>
			</li>
			<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Mascota</a></li>
			<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Resumen diario</a></li>
			<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Historial clinico</a></li>
			<li><a href="#"><i class="icono izquierda fas fa-caret-right"></i> Depósito</a></li>
		</ul>
	</div>
