<app-menu [titulo] = "titulo"></app-menu>

<div class="container-fluid">
	<div class="col-sm-6">
		<div class = "boton">
			<input class="azul" type="button" value="Búsqueda">
		</div>
		<div class = "boton">
			<input class="morado" type="button" value="Registrar nuevo dueño">
		</div>
		<div class = "boton">
			<input class="amarillo" type="button" value="Registrar nueva mascota">
		</div>
		<div class = "boton">
			<input class="azul" type="button" value="Registrar nueva vacuna">
		</div>
	</div>
	<div class="col-sm-6">
		<div class = "boton">
			<input class="morado" type="button" value="Resumen diario">
		</div>
		<div class = "boton">
			<input class="amarillo" type="button" value="Historial clínico">
		</div>
		<div class = "boton">
			<input class="verde" type="button" value="Depósito">
		</div>
		<div class = "boton">
			<input class="azul" type="button" value="Permiso">
		</div>
	</div>
</div>

<router-outlet></router-outlet>

