<div class="container-fluid">
	<div class="row">
		<div class="registrar">
			<label>Registrate</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<div class = "texto">
				<label>Nombres* </label>
				<input class="azul" type="text" name="nombres">
				<label>Apellidos* </label>
				<input class="morado" type="text" name="apellidos">
				<label>Nombre usuario* </label>
				<input class="amarillo" type="text" name="nombreUsuario">
				<label>Nueva clave* </label>
				<input class="verde" type="password" name="clave">
				<label>Confirmar clave* </label>
				<input class="azul" type="password" name="confirmarClave">
			</div>
		</div>
		<div class="col-sm-5">
			<div class="texto">
				<label>Correo* </label>
				<input class="morado" type="text" name="correo">
				<label class="fecha">Fecha de nacimiento* </label>
				<input class="amarillo" type="date" name="fechaNacimiento">
				<label>Número telefónico* </label>
				<input class="morado" type="text" name="telefono">
				<label>Domicilio* </label>
				<input class="amarillo" type="text" name="domicilio">
			</div>
		</div>
	</div>
	<div class="row">
			<div class="registrar">
				<input class="boton" type="button" value="Registrar" routerLink = "/login">
		</div >
</div>